<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid content" [@scaleIn]>
    <div class="row" [@scaleIn]>
        <div class="page-title mb-5">
            <h3 class="fw-bold">VIEW STOCK</h3>
            <span class="subTitle">
                <a routerLink="/">Home</a> / VIEW STOCK
            </span>
        </div>
        <div class="filter mb-5">
            <button class="navbar-toggler" type="button" (click)="openFilter()">
                <span class="">
                    <i class="fa-solid fa-align-justify text-muted"></i>
                </span>
                SHOW FILTERS
            </button>
        </div>

        <div class="row sort mb-5">
            <div class="col-md-3">
                <ng-select [items]="Sort" [searchable]="true" bindLabel="name" (change)="onSortChange()"
                    bindValue="name" id="sort" [(ngModel)]="selectedSort"></ng-select>
            </div>
        </div>



    </div>

    <div class="mb-4" [@scaleIn]>
        <app-car-card></app-car-card>
    </div>

    <div class="row foot" [@scaleIn]>
        <div class="col-md-10 text-center">
            <h2 style="color: black !important;">APPROVED USED LUXURY CARS AT DUBLIN CITY MOTORS</h2>
            <p style="max-width: 65ch; margin: 0 auto; margin-bottom: 2em;">Our cars come with our own warranty, history
                report, service records, clear finance and mileage checked. We are AA Approved and offer Free AA
                Roadside Rescue and 101 Safety Check. We strive to be the most competitive around when compared to like
                with like vehicles</p>
            <p> Call D.C.M today, or fill out an enquiry form to arrange a test drive </p>
        </div>
    </div>


</div>

<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title text-center" id="offcanvas-basic-title">Search</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="filterForm">
            <div class="row pe-3 justify-content-center">
                <div class="col-10 mb-4">
                    <ng-select [items]="cars" placeholder="Select Make" name="make" formControlName="carMake"
                        [searchable]="true" bindLabel="name" bindValue="name" id="Make"></ng-select>
                </div>
                <div class="col-10 mb-4">
                    <ng-select [items]="models" placeholder="Select Model" name="model" formControlName="carModel"
                        [searchable]="true" bindLabel="name" bindValue="name" id="Model"></ng-select>
                </div>
                <div class="col-10 mb-4">
                    <ng-select [items]="years" placeholder="Select Year" name="year" formControlName="carYear"
                        [searchable]="true" bindLabel="name" bindValue="name" id="Year"></ng-select>
                </div>
                <div class="col-10 ">
                    <button type="submit" class="btn btn-secondary w-100 py-2 font-weight-bold"
                        (click)="onFilter(filterForm)">Search</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>