<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid content">
    <div class="row">
        <div class="page-title mb-5">
            <h3 class="fw-bold">RECENTLY SOLD</h3>
            <span class="subTitle">
                <a routerLink="/">Home</a> / RECENTLY SOLD
            </span>
        </div>
    </div>
    <div class="mb-4">
        <app-car-card></app-car-card>
    </div>
</div>