<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid content" [@scaleIn]>
    <div class="row" [@scaleIn]>
        <div class="page-title mb-5">
            <h3 class="fw-bold">RECENTLY SOLD</h3>
            <span class="subTitle">
                <a routerLink="/">Home</a> / RECENTLY SOLD
            </span>
        </div>
    </div>
    <div class="mb-4" [@scaleIn]>
        <div class="row" *ngIf="allCars.length === 0">
            <div class="col-12 bg-body-secondary p-3">
                <h3 class="text-center">No Cars To Show</h3>
            </div>
        </div>
        <app-car-card [allCars]="allCars"></app-car-card>
    </div>
</div>