<div class="container details" *ngIf="selectedCar">

    <div class="row mb-5">
        <div class="page-title">
            <span class="subTitle">
                <a routerLink="/">Home</a> / <a href="" class="mx-1"> RECENTLY SOLD</a>
                / <a href="" class="mx-1"> Mercedes Benz</a> / <a href="" class="mx-1"> A180</a>
                 / {{selectedCar?.title}}
            </span>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6">
            <!-- <div class="gallery"> -->
                <!-- <div *ngFor="let image of album; let i = index" class="thumbnail"> -->
                  <!-- <img [src]="selectedCar?.image" (click)="open(i)" alt="{{ image.caption }}" /> -->
                  <img [src]="selectedCar?.image" width="100%"/>
                <!-- </div> -->
              <!-- </div> -->
        </div>

        <div class="col-md-6">
            <div class="text-center mb-5">
                <h2>{{selectedCar.title}}</h2>
                <span>{{selectedCar.price}}</span>
            </div>
            <hr>
            <div class="row px-5 px-sm-0 mb-3">
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa fa-calendar me-2" aria-hidden="true"></i> {{selectedCar.info.yearName}}</span>
                    <span>{{selectedCar.info.yearVal}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between  mb-2">
                    <span><i class="fa-solid fa-gauge-simple-high me-2" aria-hidden="true"></i> {{selectedCar.info.MileageName}}</span>
                    <span>{{selectedCar.info.MileageVal}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-gas-pump me-2"></i> {{selectedCar.info.FuelTypeName}}</span>
                    <span>{{selectedCar.info.FuelTypeVal}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-gas-pump me-2"></i> {{selectedCar.info.TransmissionName}}</span>
                    <span>{{selectedCar.info.TransmissionVal}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-fingerprint me-2"></i> Drive</span>
                    <span>FWD</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-car me-2"></i> Body Type</span>
                    <span>SUV</span>
                </div>
            </div>
            <hr>
            <div class="row justify-content-around mb-3">
                <button class="btn btn-light btn-outline-dark p-3"><i class="fa-brands fa-whatsapp me-2"></i>012963246</button>
                <button class="btn btn-secondary p-3">ENQUIRE NOW</button>
            </div>
            <div class="text-center">
                <span>Share this car</span>
                <div class="icons">
                    <i class="fa-brands fa-facebook me-2"></i>
                    <i class="fa-brands fa-twitter me-2"></i>
                    <i class="fa-brands fa-whatsapp me-2"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 bg-light p-3">
            <ul ngbNav #nav="ngbNav" (activeId)="1" class="nav-underline">
                <li [ngbNavItem]="1">
                    <button class="text-muted" ngbNavLink>OVERVIEW</button>
                    <ng-template ngbNavContent >
                        <div class="row px-4">
                            <div class="col-md-3">
                                <table class="table">
                                    <tbody>
                                      <tr>
                                        <td class="fw-bold">Make</td>
                                        <td>Volkswagen</td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Model</td>
                                        <td>Golf</td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Reg Year	</td>
                                        <td>2019</td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Mileage	</td>
                                        <td>29765</td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Fuel Type	</td>
                                        <td>Petrol</td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Transmission	</td>
                                        <td>Automatic </td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Drive	</td>
                                        <td>FWD</td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Body Type	</td>
                                        <td>Hatchback</td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Exterior Color	</td>
                                        <td>Black</td>
                                      </tr>
                                      <tr>
                                        <td class="fw-bold">Interior Color	</td>
                                        <td>Grey</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                            <div class="col-md-9 disc">
                                <p>We are delighted to offer this stunning Volkswagen Golf MK 7.5 1.2 TSI DSG Comfortline</p>
                                <p>Finished in solid black bodywork, complemented by comfortline grey interior</p>
                                <p>Excellent spec includes EU Map media Sat-Nav, Virtual Cockpit, Reversing Camera, Blind Spot Indicator, Lane Departure, Fog Lights, LED Door Mirror Puddle Lights, Gear shift extension, Air Conditioning, Alarm with Interior Protection, Dusk Sensor - Automatic Driving Lights, Electronic Parking Brake with Auto Hold Function, Xenon Clear Headlights - Range Adjustable - LED Daytime Running Lights, Rear Lights Incorporating LED Technology, and Leather Trimmed Multifunction Steering Wheel.</p>
                                <p>Comes fully serviced and benefits from our comprehensive warranty and roadside assistance. </p>
                                <p>Trade in welcome, ''viewing by appointment only''.</p>
                                <p>Offering an excellent range of carefully selected, pre-owned German cars, we supply cars of the highest quality at extremely competitive prices.</p>
                                <p>All of our cars come with service records, finance, history checked and mileage warrantied.</p>
                                <p>We strive to be the most competitive around when compared to like with like vehicles.</p>
                                <p>We are located just 5 minutes from Dundrum town centre on Dundrum main road, Dublin.</p>
                                <p>Call us today on 012963246. We look forward to doing business with you.</p>
                                <p>Dublin City Motors Luxury Car Boutique</p>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button class="text-muted" ngbNavLink>SPECIFICATION</button>
                    <ng-template ngbNavContent>
                        <div class="px-4">
                            <p>
                                Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                                farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                                ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                                helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                                8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                                stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                            </p>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <button class="text-muted" ngbNavLink>TECHNICAL</button>
                    <ng-template ngbNavContent>
                        <div class="px-4">
                            <p>
                                Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                                Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                                egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                                tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                                magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                                neque. Phasellus nec tortor vel tellus pulvinar feugiat.
                            </p>
                        </div>
                    </ng-template>
                </li>
            </ul>
            
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>