<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container details" *ngIf="selectedCar" [@scaleIn]>

    <div class="row mb-5" [@scaleIn]>
        <div class="page-title">
            <span class="subTitle">
                <a routerLink="/">Home</a> / <a href="" class="mx-1"> RECENTLY SOLD</a>
                / <a href="" class="mx-1"> Mercedes Benz</a> / <a href="" class="mx-1"> A180</a>
                / {{selectedCar?.name}}
            </span>
        </div>
    </div>

    <div class="row mb-5" [@scaleIn]>
        <div class="col-md-6">
            <!-- <div class="gallery"> -->
            <ngb-carousel *ngIf="selectedCar?.images" [showNavigationArrows]="showNavigationArrows" [interval]="2000"
                [pauseOnHover]="false" [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide *ngFor="let image of selectedCar?.images">
                    <div class="picsum-img-wrapper">
                        <img [src]="image" alt="Random slide" class="carousel-img w-100" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

        <div class="col-md-6">
            <div class="text-center mb-5">
                <h2>{{selectedCar.name}}</h2>
                <span>{{selectedCar.price}}</span>
            </div>
            <hr>
            <div class="row px-5 px-sm-0 mb-3">
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa fa-calendar me-2" aria-hidden="true"></i> Reg Year</span>
                    <span>{{selectedCar.regYear}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between  mb-2">
                    <span><i class="fa-solid fa-gauge-simple-high me-2" aria-hidden="true"></i>
                        Mileage</span>
                    <span>{{selectedCar.mileage}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-gas-pump me-2"></i> Fuel Type</span>
                    <span>{{selectedCar.fuelType}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-gas-pump me-2"></i> Transmission</span>
                    <span>{{selectedCar.transmission}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-fingerprint me-2"></i> Drive</span>
                    <span>{{selectedCar.drive}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-car me-2"></i> Body Type</span>
                    <span>{{selectedCar?.bodyType}}</span>
                </div>
            </div>
            <hr>
            <div class="row justify-content-around mb-3">
                <a class="btn btn-light btn-outline-dark p-3" href="https://wa.me/012963246" target="_blank"><i
                        class="fa-brands fa-whatsapp me-2"></i>012963246</a>
                <button class="btn btn-secondary p-3" (click)="openCarModal()">ENQUIRE NOW</button>
            </div>
            <div class="text-center">
                <span>Share this car</span>
                <div class="icons">
                    <i class="fa-brands fa-facebook me-2"></i>
                    <i class="fa-brands fa-twitter me-2"></i>
                    <i class="fa-brands fa-whatsapp me-2"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row" [@scaleIn]>
        <div class="col-md-12 bg-none p-3">
            <ul ngbNav #nav="ngbNav" (activeId)="1" class="nav-underline nav-justified">
                <li [ngbNavItem]="1">
                    <button class="text-muted" ngbNavLink>OVERVIEW</button>
                    <ng-template ngbNavContent>
                        <div class="row px-4">
                            <div class="col-md-3">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td class="fw-bold">Make</td>
                                            <td>{{selectedCar.make}}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Model</td>
                                            <td>{{selectedCar.model}}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Reg Year </td>
                                            <td>{{selectedCar.regYear}}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Mileage </td>
                                            <td>{{selectedCar.mileage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Fuel Type </td>
                                            <td>{{selectedCar.fuelType}}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Transmission </td>
                                            <td>{{selectedCar.transmission}} </td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Drive </td>
                                            <td>{{selectedCar.drive}}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Body Type </td>
                                            <td>{{selectedCar?.bodyType}}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Exterior Color </td>
                                            <td>{{selectedCar.exteriorColor}}</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Interior Color </td>
                                            <td>{{selectedCar.interiorColor}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-9 disc">
                                <p>
                                    {{selectedCar.shortDescription}}
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button class="text-muted" ngbNavLink>SPECIFICATION</button>
                    <ng-template ngbNavContent>
                        <!-- Interior -->
                        <div class="px-4 py-3 bg-white mb-3">
                            <div class="row justify-content-between" style="cursor: pointer;"
                                (click)="collapse1.toggle()" [attr.aria-expanded]="!isInteriorCollapsed"
                                aria-controls="collapseExample">
                                <h5 class="text-dark fw-bold mb-3 w-50">
                                    Interior
                                </h5>
                                <i class="fa w-50 text-end"
                                    [ngClass]="!isInteriorCollapsed ? 'fa-caret-down' :  'fa-caret-up'"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="row px-3" #collapse1="ngbCollapse" [(ngbCollapse)]="isInteriorCollapsed">
                                <div class="col-md-3 mb-3" *ngFor="let interior of selectedCar?.interiors">
                                    <i class="fa-brands fa-twitch me-2"></i><span
                                        class=" text-muted">{{interior}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- Exterior -->
                        <div class="px-4 py-3 bg-white mb-3">
                            <div class="row justify-content-between" style="cursor: pointer;"
                                (click)="collapse2.toggle()" [attr.aria-expanded]="!isExteriorCollapsed"
                                aria-controls="collapseExample">
                                <h5 class="text-dark fw-bold mb-3 w-50">
                                    Exterior
                                </h5>
                                <i class="fa w-50 text-end"
                                    [ngClass]="!isExteriorCollapsed ? 'fa-caret-down' :  'fa-caret-up'"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="row px-3" #collapse2="ngbCollapse" [(ngbCollapse)]="isExteriorCollapsed">
                                <div class="col-md-3 mb-3" *ngFor="let exterior of selectedCar?.exteriors">
                                    <i class="fa-brands fa-twitch me-2"></i><span class=" text-muted">
                                        {{exterior}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- Tech -->
                        <div class="px-4 py-3 bg-white mb-3">
                            <div class="row justify-content-between" style="cursor: pointer;"
                                (click)="collapse3.toggle()" [attr.aria-expanded]="!isTechCollapsed"
                                aria-controls="collapseExample">
                                <h5 class="text-dark fw-bold mb-3 w-50">
                                    Tech
                                </h5>
                                <i class="fa w-50 text-end"
                                    [ngClass]="!isTechCollapsed ? 'fa-caret-down' :  'fa-caret-up'"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="row px-3" #collapse3="ngbCollapse" [(ngbCollapse)]="isTechCollapsed">
                                <div class="col-md-3 mb-3" *ngFor="let tech of selectedCar?.teches">
                                    <i class="fa-brands fa-twitch me-2"></i><span class=" text-muted"> {{tech}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- Safety -->
                        <div class="px-4 py-3 bg-white mb-3">
                            <div class="row justify-content-between" style="cursor: pointer;"
                                (click)="collapse4.toggle()" [attr.aria-expanded]="!isSafetyCollapsed"
                                aria-controls="collapseExample">
                                <h5 class="text-dark fw-bold mb-3 w-50">
                                    Safety
                                </h5>
                                <i class="fa w-50 text-end"
                                    [ngClass]="!isSafetyCollapsed ? 'fa-caret-down' :  'fa-caret-up'"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="row px-3" #collapse4="ngbCollapse" [(ngbCollapse)]="isSafetyCollapsed">
                                <div class="col-md-3 mb-3" *ngFor="let safty of selectedCar?.safeties">
                                    <i class="fa-brands fa-twitch me-2"></i><span class=" text-muted"> {{safty}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <button class="text-muted" ngbNavLink>TECHNICAL</button>
                    <ng-template ngbNavContent>
                        <div class="px-4">
                            <table class="table w-25 table-hover">
                                <tbody class="px-3">
                                    <tr class="px-3">
                                        <td class="fw-bold">Engine Size</td>
                                        <td>{{selectedCar.engineSize}}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Fuel Type</td>
                                        <td>{{selectedCar.fuelType}}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Cylinders</td>
                                        <td>{{selectedCar.cylinders}}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Drive Axle</td>
                                        <td>{{selectedCar.driveAxle}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <td class="fw-bold">BHP</td>
                                        <td>190</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Co2 Emissions</td>
                                        <td>129</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">NOX</td>
                                        <td>g/km</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>