<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container details" *ngIf="selectedCar" [@scaleIn]>

    <div class="row mb-5" [@scaleIn]>
        <div class="page-title">
            <span class="subTitle">
                <a routerLink="/">Home</a> / <a href="" class="mx-1"> RECENTLY SOLD</a>
                / <a href="" class="mx-1"> Mercedes Benz</a> / <a href="" class="mx-1"> A180</a>
                / {{selectedCar?.name}}
            </span>
        </div>
    </div>

    <div class="row mb-5" [@scaleIn]>
        <div class="col-md-6">
            <!-- <div class="gallery"> -->
            <ngb-carousel *ngIf="selectedCar?.images" [showNavigationArrows]="showNavigationArrows" [interval]="0"
                [pauseOnHover]="true" [showNavigationIndicators]="showNavigationIndicators">
                <!-- <ng-template ngbSlide *ngFor="let image of selectedCar?.images"> -->
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="picsum-img-wrapper">
                        <img [src]="image" alt="Random slide" class="carousel-img w-100" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

        <div class="col-md-6">
            <div class="text-center mb-5">
                <h2>{{selectedCar.name}}</h2>
                <span>{{selectedCar.price}}</span>
            </div>
            <hr>
            <div class="row px-5 px-sm-0 mb-3">
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa fa-calendar me-2" aria-hidden="true"></i> Reg Year</span>
                    <span>{{selectedCar.regYear}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between  mb-2">
                    <span><i class="fa-solid fa-gauge-simple-high me-2" aria-hidden="true"></i>
                        Mileage</span>
                    <span>{{selectedCar.mileage}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-gas-pump me-2"></i> Fuel Type</span>
                    <span>{{selectedCar.fuelType}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-gas-pump me-2"></i> Transmission</span>
                    <span>{{selectedCar.transmission}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-fingerprint me-2"></i> Drive</span>
                    <span>{{selectedCar.drive}}</span>
                </div>
                <div class="col-md-6 col-sm-12 d-flex justify-content-between mb-2">
                    <span><i class="fa-solid fa-car me-2"></i> Body Type</span>
                    <span>{{selectedCar?.bodyType}}</span>
                </div>
            </div>
            <hr>
            <div class="row justify-content-around mb-3">
                <a class="btn btn-light btn-outline-dark p-3" href="https://wa.me/012963246" target="_blank"><i
                        class="fa-brands fa-whatsapp me-2"></i>012963246</a>
                <button class="btn btn-secondary p-3" (click)="openCarModal()">ENQUIRE NOW</button>
            </div>
            <div class="text-center">
                <span>Share this car</span>
                <div class="icons">
                    <i class="fa-brands fa-facebook me-2"></i>
                    <i class="fa-brands fa-twitter me-2"></i>
                    <i class="fa-brands fa-whatsapp me-2"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row" [@scaleIn]>
        <div class="col-md-12 bg-none p-3">
            <ul ngbNav #nav="ngbNav" (activeId)="1" class="nav-underline nav-justified">
                <li [ngbNavItem]="1">
                    <button class="text-muted" ngbNavLink>Specs Overview</button>
                    <ng-template ngbNavContent>
                        <div class="row mb-3 p-2 bg-secondary">
                            <div class="col-md-12 d-flex justify-content-between">
                                <span><i class="fa-solid fa-gas-pump me-2"></i>{{selectedCar.drive}}</span>
                                <span><i class="fa-solid fa-gas-pump me-2"></i>{{selectedCar.transmission}}</span>
                                <span><i class="fa-solid fa-gas-pump me-2"></i>{{selectedCar.fuelType}}</span>
                                <span><i class="fa-solid fa-gas-pump me-2"></i>{{selectedCar.doors}}</span>
                            </div>
                        </div>
                        <div class="table-responsive px-4">
                            <table class="table table-sm table-striped">
                                <tbody>
                                    <tr>
                                        <td class="fw-bold">Power (bhp)</td>
                                        <td>{{selectedCar.power}} bhp</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Acceleration 0-60 mph</td>
                                        <td>{{selectedCar.mph}} secs</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Miles per tank</td>
                                        <td>{{selectedCar.miles}} miles</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Insurance group</td>
                                        <td>21</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Road tax</td>
                                        <td>{{selectedCar.tax}}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Dimensions (mm)</td>
                                        <td>Length 4456mm X Width 1960mm</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button class="text-muted" ngbNavLink>Dimensions</button>
                    <ng-template ngbNavContent>
                        <div class="table-responsive px-4">
                            <table class="table table-sm table-striped">
                                <tbody>
                                    <tr>
                                        <th>Fuel Capacity</th>
                                        <td>{{selectedCar.fuelCapacity}} litres</td>
                                    </tr>
                                    <tr>
                                        <th>Weight</th>
                                        <td>{{selectedCar.weight}} kg</td>
                                    </tr>
                                    <tr>
                                        <th>Length</th>
                                        <td>{{selectedCar.length}} mm</td>
                                    </tr>
                                    <tr>
                                        <th>Width</th>
                                        <td>{{selectedCar.width}} mm</td>
                                    </tr>
                                    <tr>
                                        <th>Height</th>
                                        <td>{{selectedCar.height}} mm</td>
                                    </tr>
                                    <tr>
                                        <th>Wheelbase</th>
                                        <td>{{selectedCar.wheelbase}} mm</td>
                                    </tr>
                                    <tr>
                                        <th>Turning Circle</th>
                                        <td>{{selectedCar.turningCircle}} m</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <button class="text-muted" ngbNavLink>Performance</button>
                    <ng-template ngbNavContent>
                        <div class="table-responsive px-4">
                            <table class="table table-sm table-striped">
                                <tbody>
                                    <tr>
                                        <th>Power</th>
                                        <td>{{selectedCar.power}} bhp</td>
                                    </tr>
                                    <tr>
                                        <th>Top Speed</th>
                                        <td>{{selectedCar.topSpeed}} mph</td>
                                    </tr>
                                    <tr>
                                        <th>0-60 mph</th>
                                        <td>{{selectedCar.mph}} secs</td>
                                    </tr>
                                    <tr>
                                        <th>Torque</th>
                                        <td>{{selectedCar.torque}} Nm</td>
                                    </tr>
                                    <tr>
                                        <th>CO2 Emissions</th>
                                        <td>{{selectedCar.emissions}} g/km</td>
                                    </tr>
                                    <tr>
                                        <th>Euro Emissions Standard</th>
                                        <td>{{selectedCar.euroEmissions}}</td>
                                    </tr>
                                    <tr>
                                        <th>Miles Per Tank</th>
                                        <td>{{selectedCar.miles}} miles</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <hr>

                        <!-- Engine Details -->
                        <div class="row justify-content-between" style="cursor: pointer;" (click)="collapse1.toggle()"
                            [attr.aria-expanded]="!isEnginCollapsed" aria-controls="collapseExample">
                            <h5 class="text-dark fw-bold m-0 w-50">
                                Engine Details
                            </h5>
                            <i class="fa w-50 text-end" [ngClass]="!isEnginCollapsed ? 'fa-caret-down' :  'fa-caret-up'"
                                aria-hidden="true"></i>
                        </div>
                        <div class="table-responsive px-4 pt-3" #collapse1="ngbCollapse"
                            [(ngbCollapse)]="isEnginCollapsed">
                            <table class="table table-sm table-striped">
                                <tbody>
                                    <tr>
                                        <th>Engine Size</th>
                                        <td>{{selectedCar.engineSize}} cc</td>
                                    </tr>
                                    <tr>
                                        <th>Cylinders</th>
                                        <td>{{selectedCar.cylinders}}</td>
                                    </tr>
                                    <tr>
                                        <th>Valves</th>
                                        <td>{{selectedCar.valves}}</td>
                                    </tr>
                                    <tr>
                                        <th>Fuel Type</th>
                                        <td>{{selectedCar.fuelType}}</td>
                                    </tr>
                                    <tr>
                                        <th>Transmission</th>
                                        <td>{{selectedCar.transmission}}</td>
                                    </tr>
                                    <tr>
                                        <th>Gearbox</th>
                                        <td>{{selectedCar.gearbox}} Speed S Tronic</td>
                                    </tr>
                                    <tr>
                                        <th>Drivetrain</th>
                                        <td>{{selectedCar.drive}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <hr>

                        <div class="row justify-content-between" style="cursor: pointer;" (click)="collapse2.toggle()"
                            [attr.aria-expanded]="!isCabinCollapsed" aria-controls="collapseExample">
                            <h5 class="text-dark fw-bold m-0 w-50">
                                Cabin & Luggage
                            </h5>
                            <i class="fa w-50 text-end" [ngClass]="!isCabinCollapsed ? 'fa-caret-down' :  'fa-caret-up'"
                                aria-hidden="true"></i>
                        </div>
                        <div class="table-responsive px-4 pt-3" #collapse2="ngbCollapse"
                            [(ngbCollapse)]="isCabinCollapsed">
                            <table class="table table-sm table-striped">
                                <tbody>
                                    <tr>
                                        <th>Doors</th>
                                        <td>{{selectedCar.doors}}</td>
                                    </tr>
                                    <tr>
                                        <th>Seats</th>
                                        <td>{{selectedCar.seats}} mph</td>
                                    </tr>
                                    <tr>
                                        <th>Luggage Capacity</th>
                                        <td>{{selectedCar.luggage}} litres</td>
                                    </tr>
                                    <tr>
                                        <th>Unbraked Towing Weight</th>
                                        <td>{{selectedCar.unbraked}} kg</td>
                                    </tr>
                                    <tr>
                                        <th>Braked Towing Weight</th>
                                        <td>{{selectedCar.braked}} kg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>