<div class="row mb-5" *ngIf="cars">
    <div class="col-md-3 col-sm-6 px-1" (click)="getCar(index)" *ngFor="let car of cars ; let index ">
        <div class="card" >
           <a> <img [src]="car.image" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <div class="title text-center mb-3">
                    <p class="mb-0">{{car.title}}</p>
                    <span>{{car.price}}</span>
                </div>
                <!-- <div class="car-details">
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa fa-calendar" aria-hidden="true"></i> Reg Year</span>
                        </div>
                        <span class="value">2019</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa-solid fa-gauge-simple-high"></i> Mileage</span>
                        </div>
                        <span class="value">30409</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">

                        <span><i class="fa-solid fa-gas-pump"></i> Fuel Type</span>
                    </div>

                        <span class="value">Petrol</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa-solid fa-gas-pump"></i> Transmission</span>
                        </div>
                        <span class="value">Automatic</span>
                    </div>
                </div> -->
                <div class="row car text-muted">
                    <div class="col-lg-5 px-0 pe-sm-2 col-md-12 col-sm-12 d-flex justify-content-between ">
                        <span><i class="fa fa-calendar" aria-hidden="true"></i> {{car.info.yearName}}</span>
                        <span>{{car.info.yearVal}}</span>
                    </div>
                    <div class="col-lg-7 px-0 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gauge-simple-high"></i> {{car.info.MileageName}}</span>
                        <span>{{car.info.MileageVal}}</span>
                    </div>
                    <div class="col-lg-5 px-0 pe-sm-2 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gas-pump"></i>{{car.info.FuelTypeName}}</span>
                        <span>{{car.info.FuelTypeVal}}</span>
                    </div>
                    <div class="col-lg-7 px-0 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gas-pump"></i> {{car.info.TransmissionName}}</span>
                        <span>{{car.info.TransmissionVal}}</span>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-6  px-1">
        <div class="card" >
            <img src="/assets/images/stock/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="title text-center mb-3">
                    <p class="mb-0">Mercedes Benz A180 AMG S</p>
                    <span>POA</span>
                </div>
                <!-- <div class="car-details">
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa fa-calendar" aria-hidden="true"></i> Reg Year</span>
                        </div>
                        <span class="value">2019</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa-solid fa-gauge-simple-high"></i> Mileage</span>
                        </div>
                        <span class="value">30409</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">

                        <span><i class="fa-solid fa-gas-pump"></i> Fuel Type</span>
                    </div>

                        <span class="value">Petrol</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa-solid fa-gas-pump"></i> Transmission</span>
                        </div>
                        <span class="value">Automatic</span>
                    </div>
                </div> -->
                <div class="row car">
                    <div class="col-lg-6 px-0 pe-sm-1 col-md-12 col-sm-12 d-flex justify-content-between ">
                        <span><i class="fa fa-calendar" aria-hidden="true"></i> Reg Year</span>
                        <span>2019</span>
                    </div>
                    <div class="col-lg-6 px-0 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gauge-simple-high"></i> Mileage</span>
                        <span>30409</span>
                    </div>
                    <div class="col-lg-6 px-0 pe-sm-1 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gas-pump"></i> Fuel Type</span>
                        <span>Petrol</span>
                    </div>
                    <div class="col-lg-6 px-0 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gas-pump"></i> Transmission</span>
                        <span>Automatic</span>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-6  px-1">
        <div class="card" >
            <img src="/assets/images/stock/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="title text-center mb-3">
                    <p class="mb-0">Mercedes Benz A180 AMG S</p>
                    <span>POA</span>
                </div>
                <!-- <div class="car-details">
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa fa-calendar" aria-hidden="true"></i> Reg Year</span>
                        </div>
                        <span class="value">2019</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa-solid fa-gauge-simple-high"></i> Mileage</span>
                        </div>
                        <span class="value">30409</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">

                        <span><i class="fa-solid fa-gas-pump"></i> Fuel Type</span>
                    </div>

                        <span class="value">Petrol</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa-solid fa-gas-pump"></i> Transmission</span>
                        </div>
                        <span class="value">Automatic</span>
                    </div>
                </div> -->
                <div class="row car">
                    <div class="col-lg-6 px-0 pe-sm-1 col-md-12 col-sm-12 d-flex justify-content-between ">
                        <span><i class="fa fa-calendar" aria-hidden="true"></i> Reg Year</span>
                        <span>2019</span>
                    </div>
                    <div class="col-lg-6 px-0 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gauge-simple-high"></i> Mileage</span>
                        <span>30409</span>
                    </div>
                    <div class="col-lg-6 px-0 pe-sm-1 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gas-pump"></i> Fuel Type</span>
                        <span>Petrol</span>
                    </div>
                    <div class="col-lg-6 px-0 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gas-pump"></i> Transmission</span>
                        <span>Automatic</span>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-6  px-1">
        <div class="card" >
            <img src="/assets/images/stock/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="title text-center mb-3">
                    <p class="mb-0">Mercedes Benz A180 AMG S</p>
                    <span>POA</span>
                </div>
                <!-- <div class="car-details">
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa fa-calendar" aria-hidden="true"></i> Reg Year</span>
                        </div>
                        <span class="value">2019</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa-solid fa-gauge-simple-high"></i> Mileage</span>
                        </div>
                        <span class="value">30409</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">

                        <span><i class="fa-solid fa-gas-pump"></i> Fuel Type</span>
                    </div>

                        <span class="value">Petrol</span>
                    </div>
                    <div class="labeliconvalue">
                        <div class="labelicon">
                            <span><i class="fa-solid fa-gas-pump"></i> Transmission</span>
                        </div>
                        <span class="value">Automatic</span>
                    </div>
                </div> -->
                <div class="row car">
                    <div class="col-lg-6 px-0 pe-sm-1 col-md-12 col-sm-12 d-flex justify-content-between ">
                        <span><i class="fa fa-calendar" aria-hidden="true"></i> Reg Year</span>
                        <span>2019</span>
                    </div>
                    <div class="col-lg-6 px-0 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gauge-simple-high"></i> Mileage</span>
                        <span>30409</span>
                    </div>
                    <div class="col-lg-6 px-0 pe-sm-1 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gas-pump"></i> Fuel Type</span>
                        <span>Petrol</span>
                    </div>
                    <div class="col-lg-6 px-0 col-md-12 col-sm-12 d-flex justify-content-between">
                        <span><i class="fa-solid fa-gas-pump"></i> Transmission</span>
                        <span>Automatic</span>
                    </div>
                </div>
            </div>
          </div>
    </div>

</div>
<div class="row text-center">
    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item">
            <a class="page-link"  aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
</div>