<div class="row mb-5" *ngIf="allCars">
    <div class="col-md-3 col-sm-6 px-1" (click)="getCar(car.id)" *ngFor="let car of allCars ; let index ">
        <div class="card">
            <!-- <a> <img [src]="car.image" class="card-img-top" alt="..."></a> -->
            <a> <img [src]="car.image" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <div class="title text-center mb-3">
                    <p class="mb-0">{{car.name}}</p>
                    <span class="text-muted">€{{car.price}}</span>
                </div>
                <div class="row car text-muted mb-3"> <!-- Space between car rows -->
                    <div class="col-lg-5 col-md-12 col-sm-12 d-flex justify-content-between px-2 mb-2">
                        <span class="text-muted"><i class="fa fa-calendar me-2" aria-hidden="true"></i>
                            regYear</span>
                        <span class="text-muted">{{car.regYear}}</span>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 d-flex justify-content-between px-2 mb-2">
                        <span class="text-muted"><i class="fa-solid fa-gauge-simple-high me-2"></i>
                            Mileage</span>
                        <span class="text-muted">{{car.mileage}}</span>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 d-flex justify-content-between px-2 mb-2">
                        <span class="text-muted"><i class="fa-solid fa-gas-pump me-2"></i>
                            Fuel Type</span>
                        <span class="text-muted">{{car.fuelType}}</span>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 d-flex justify-content-between px-2 mb-2">
                        <span class="text-muted"><i class="fa-solid fa-gas-pump me-2"></i>
                            Transmission</span>
                        <span class="text-muted">{{car.transmission}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <div class="row text-center">
    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div> -->