.card {
  border: none;
  overflow: hidden;
}
img {
  transition: all 0.5s;
  border-radius: 5px;
}
.card-img-top:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.car {
  margin-bottom: 20px; /* Space between each car row */
  padding: 10px; /* Padding for the overall row */
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Optional: Background for better contrast */
  border-radius: 5px; /* Optional: Rounded corners */
}

.car div {
  margin-bottom: 10px; /* Space between individual divs */
}

.car span {
  font-size: 14px; /* Adjust font size */
}

.car i {
  font-size: 16px; /* Adjust icon size */
  color: rgba(33, 37, 41, 0.75); /* Optional: Icon color */
}

.car-details {
  margin: 0.5em auto;
  padding: 1em 0;
  // border-bottom: 1px solid lightgray;
  display: grid;
  font-size: 12px;
  grid-template-columns: 1.5fr 1.5fr;
  opacity: 80%;
  height: 111px;
  max-width: 393px;
}
.labeliconvalue {
  display: flex;
  align-items: center !important;
  margin-right: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.labelicon {
  display: flex;
  gap: 5px;
  align-items: center !important;
  width: 100px;
}
.value {
  display: flex;
  align-items: center;
  max-width: 65px;
}

.page-item .page-link {
  border: none;
  margin: 0 4px;
  border-bottom: 1px solid #aaa;
}
.page-item:hover {
  background: none;
}

// @media screen and (max-width: 700px) and (min-width: 575px){
//     .car-details{
//         grid-template-columns: 0.5fr;
//         justify-content: center;
//     }
// }

@media (max-width: 1007px) {
  .product_list_core_features {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: space-between;
    font-size: 0.9em;
    width: 100%;
    margin: auto;
    height: 250px;
  }
}
