<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<!-- <div class="caro mt-4" [@scaleIn]>
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [interval]="4000" [pauseOnHover]="false"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img [src]="image" alt="Random slide" class="carousel-img w-100" />
            </div>
        </ng-template>
    </ngb-carousel>
</div> -->

<div class="caro mt-4" [@scaleIn]>
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [interval]="5000" [pauseOnHover]="false"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper position-relative">
                <img [src]="image" alt="Random slide" class="carousel-img w-100" />
                <!-- Overlay layer for car offers -->
                <div *ngFor="let offer of offersData"
                    class="offer-overlay position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                    <div class="offer-content text-center text-white">
                        <h3>Special Car Offer!</h3>
                        <p>{{offer.description}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<div class="container-fluid py-5 main-section">
    <div class="row my-lg-5 px-5 py-lg-5 d-flex justify-content-between" #animatedSection>
        <div class="col-12 col-lg-6 text-center mb-5 mb-lg-0" [@rightSecState]="orientation"
            (@rightSecState.done)="onAnimationDone($event)">
            <h1 class="display-4 font-weight-bold text-uppercase">Welcome to<br> Dublin City Motors</h1>
            <h4 class="mb-3">Luxury Car Boutique</h4>
            <p class="text-muted px-4">
                At Dublin City Motors, we have the professional knowledge and expertise to help you at every
                step from buying to owning your luxury vehicle. Specialising in pre-owned Audi and BWMs, all
                of our cars are carefully selected and meticulously prepared so that you can be assured of <br>
                excellent quality and value. <br>
                View our cars and contact us when you are ready - we will be happy to arrange a suitable
                viewing time (by appointment only).
            </p>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center" [@leftSecState]="orientation"
            (@leftSecState.done)="onAnimationDone($event)">
            <form class="w-100 " (ngSubmit)="onSearch()">
                <div class="row py-5 d-flex justify-content-center">
                    <div class="col-lg-8 col-sm-12 mb-3">
                        <ng-select [items]="makes" placeholder="Select Make" name="make" [searchable]="true"
                            bindLabel="name" (change)="getModel($event?.id)" [(ngModel)]="selectedMake" bindValue="name"
                            id="Make"></ng-select>
                    </div>
                    <div class="col-lg-8 col-sm-12 mb-3">
                        <ng-select [items]="models" placeholder="Select Model" name="model" [searchable]="true"
                            bindLabel="name" [(ngModel)]="selectedModel" bindValue="name" id="Model"></ng-select>
                    </div>
                    <div class="col-lg-8 col-sm-12 mb-3">
                        <ng-select [items]="years" placeholder="Select Year" name="year" [searchable]="true"
                            [scrollTop]="true" bindLabel="name" [(ngModel)]="selectedYear" bindValue="name"
                            id="Year"></ng-select>
                        <!-- <input class="form-control" formControlName="email" placeholder="Your email address" type="email"> -->
                    </div>
                    <div class="col-lg-8 col-sm-12 my-3">
                        <button type="submit" class="btn btn-secondary w-100 py-2 font-weight-bold">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>