<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
    <!-- Client details modal -->

    <!-- <ng-template #details let-modal> -->
    <div class="modal-header py-2">
        <h4 class="modal-title">Car Enquiry</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="mb-4">
                    <label class="mb-1">Nature of Enquiry</label>
                    <div class="btn-group w-100" role="group" aria-label="Nature of Enquiry">
                        <label class="btn btn-sm"
                            [class.active]="formGroup.get('natureOfEnquiry')?.value === 'Test Drive'">
                            <input type="radio" class="btn-check" formControlName="natureOfEnquiry"
                                value="Test Drive" />
                            Test Drive
                        </label>
                        <label class="btn btn-sm"
                            [class.active]="formGroup.get('natureOfEnquiry')?.value === 'General'">
                            <input type="radio" class="btn-check" formControlName="natureOfEnquiry" value="General" />
                            General
                        </label>
                        <label class="btn btn-sm"
                            [class.active]="formGroup.get('natureOfEnquiry')?.value === 'Trade-in'">
                            <input type="radio" class="btn-check" formControlName="natureOfEnquiry" value="Trade-in" />
                            Trade-in
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="mb-4">
                    <label class="mb-1">Contact By</label>
                    <div class="btn-group w-100" role="group" aria-label="Contact Method">
                        <label class="btn btn-sm"
                            [class.active]="formGroup.get('contactMeBy')?.value === 'No Preference'">
                            <input type="radio" class="btn-check" formControlName="contactMeBy" value="No Preference" />
                            No Preference
                        </label>
                        <label class="btn btn-sm" [class.active]="formGroup.get('contactMeBy')?.value === 'Email'">
                            <input type="radio" class="btn-check" formControlName="contactMeBy" value="Email" /> Email
                        </label>
                        <label class="btn btn-sm" [class.active]="formGroup.get('contactMeBy')?.value === 'Telephone'">
                            <input type="radio" class="btn-check" formControlName="contactMeBy" value="Telephone" />
                            Telephone
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 my-2 my-2">
                <label for="">First Name</label>
                <input class="form-control" formControlName="firstName" placeholder="Your first name" type="text">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Surname</label>
                <input class="form-control" formControlName="surName" placeholder="Your surname" type="text">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Contact Number</label>
                <input class="form-control" formControlName="contactNumber" placeholder="Your contact number"
                    type="text">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Enail Address</label>
                <input class="form-control" formControlName="emailAddress" placeholder="Your email address"
                    type="email">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Car Name</label>
                <input type="text" class="form-control" formControlName="carName">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Car Make</label>
                <ng-select [items]="makes" placeholder="Select Make" formControlName="carMake" [searchable]="true"
                    bindLabel="name" bindValue="name" id="Make" (change)="getModel($event?.id)"></ng-select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Car Model</label>
                <ng-select [items]="models" placeholder="Select Model" formControlName="carModel" [searchable]="true"
                    bindLabel="name" bindValue="name" id="Model"></ng-select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Car Year</label>
                <!-- <ng-select [items]="years" placeholder="Select Year" formControlName="carYear" [searchable]="true"
                    bindLabel="name" bindValue="name" id="Year"></ng-select> -->
                <input class="form-control" formControlName="carYear" placeholder="Car Year" type="number">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2"></div>
            <div class="col-12 text-center fw-bold">
                (Check opening hours before booking)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Pick Date</label>
                <app-gregorian-picker (dateChange)="setDate($event)"></app-gregorian-picker>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label for="">Pick Time</label>
                <ng-select [items]="time" placeholder="Select time" formControlName="pickTime" [searchable]="true"
                    bindLabel="name" bindValue="name" id="Make"></ng-select>

            </div>
            <div class="col-12 my-2">
                <label for="">Your Enquiry</label>
                <textarea class="form-control" formControlName="yourEnquiry" placeholder="Your enquiry"
                    type="text"></textarea>
            </div>
        </div>



    </div>
    <div class="modal-footer py-2">

        <!-- Change Status Btns -->
        <button type="submit" class="btn btn-secondary">
            Submit
        </button>

        <!-- Close Btn -->
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">
            Close
        </button>
    </div>
</form>