<nav class="navbar navbar-dark  fixed-top custom-navbar pt-3">
    <div class="container-fluid">
        <div class="row w-100 align-items-center">
            <!-- Left Side: Small Logo -->
            <div class="col-4 text-center d-flex justify-content-start align-items-center">
                <img src="../../../assets/images/DCM (dark).png" alt="DCM Logo" class="navbar-logo-small">
            </div>

            <!-- Center: Main Logo -->
            <div class="col-4 d-flex justify-content-center">
                <a class="navbar-brand d-none d-md-block" href="/">
                    <img src="../../../assets/images/Dublin City Motors (dark).png" alt="Dublin City Motors"
                        class="navbar-logo-main">
                </a>
            </div>

            <!-- Right Side: Menu Button -->
            <div class="col-4 d-flex justify-content-end">
                <button class="btn toggler" type="button" (click)="openNav()">
                    <i class="bx bx-menu"></i>
                </button>
            </div>
        </div>
    </div>
</nav>


<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 pe-3 text-center">
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link active d-flex align-items-center" routerLink="/" (click)="offcanvas.close()">
                    Home</a>
            </li>
            <hr>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link d-flex align-items-center" routerLink="/view-stock" (click)="offcanvas.close()">
                    View
                    Stock</a>
            </li>
            <hr>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link d-flex align-items-center" routerLink="/recently-sold" (click)="offcanvas.close()">
                    RECENTLY SOLD</a>
            </li>
            <hr>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link d-flex align-items-center" routerLink="/contact-us" (click)="offcanvas.close()">
                    Contact Us</a>
            </li>
            <hr>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link d-flex align-items-center" routerLink="/about-us" (click)="offcanvas.close()">About
                    Us</a>
            </li>
        </ul>
    </div>
</ng-template>